.base {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border-radius: 3.125rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  transition: all 0.2s ease;
}

.primary {
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: 3px solid var(--button-border);
}

.primary:hover {
  background: var(--button-hover-background-color);
  color: var(--button-hover-color);
  border-color: var(--button-hover-border);
}

.primary:active {
  background: var(--button-active-background-color);
  color: var(--button-active-color);
  border-color: var(--button-active-border);
}

.primary[disabled] {
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: 3px solid var(--button-border);
  filter: blur(calc(2px / 2));
  cursor: not-allowed;
}

.secondary {
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: 3px solid var(--button-border);
}

.secondary:hover {
  color: var(--button-hover-color);
  border-color: var(--button-hover-border);
}

.secondary:active {
  color: var(--button-active-color);
  border-color: var(--button-active-border);
}

.secondary[disabled] {
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: 3px solid var(--button-border);
  filter: blur(calc(2px / 2));
  cursor: not-allowed;
}

.big {
  padding: 0.9375rem 2.8125rem;
  font-size: 1.25rem;
}
