.Landing {
  display: flex;
  justify-content: center;
}

.content {
  /* border: 10px solid yellow !important; */
  min-width: 1280px;
  /* width: 1280px; */
  /* width: 80rem; */
  background-image: url(./assets/doodle.svg);
  background-repeat: no-repeat;
  background-position: top 10rem right;
  background-size: 85%;
}

.content div {
  /* border: 1px solid red; */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.slogan {
  display: flex;
  align-items: center;
  color: var(--theme-ash-gray-dark-50);
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.025rem;
}

.lead {
  width: 100%;
  background-image: url(./assets/lead.png);
  background-repeat: no-repeat;
  background-position: top 2rem left 2rem;
  background-size: 95%;
  height: 26rem;
  /* border: 10px solid yellow !important; */
}

.arrowRed {
  width: 100%;
  background-image: url(./assets/arrow_red.png);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: 95%; */
  height: 12rem;
  /* border: 10px solid yellow !important; */
}

.about {
  width: 100%;
  background-image: url(./assets/about.png);
  background-repeat: no-repeat;
  background-position: top left 2rem;
  background-size: 95%;
  height: 35rem;
  /* border: 10px solid yellow !important; */
}

.arrowBlue {
  width: 100%;
  background-image: url(./assets/arrow_blue.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  /* background-size: 95%; */
  height: 12rem;
  /* border: 10px solid yellow !important; */
}

.footer {
  width: 100%;
  background-image: url(./assets/footer.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 12rem;
}

.callToAction {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2em;
}

.left {
  background-image: url(./assets/cta_left.png);
  background-repeat: no-repeat;
  /* background-position: bottom center; */
  width: 18.89056rem;
  height: 15.875rem;
  flex-shrink: 0;
}

.actions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.bigText {
  color: var(--theme-ash-gray-light);
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.05rem;
}

.bigButton {
  cursor: pointer;
  width: 15.27231rem;
  height: 2.85rem;
  background-image: url(./assets/Button/default.svg);
  background-repeat: no-repeat;
}
.bigButton:hover {
  background-image: url(./assets/Button/hover.svg);
}
.bigButton:active {
  background-image: url(./assets/Button/active.svg);
}

.text {
  color: var(--theme-ash-gray-primary, rgba(176, 187, 188, 1));
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.right {
  background-image: url(./assets/cta_right.png);
  background-repeat: no-repeat;
  width: 20.64844rem;
  height: 19.10313rem;
  flex-shrink: 0;
}
