.Group {
  display: flex;
  padding-top: 1.5rem;
}

.Base {
  cursor: pointer;
  background: transparent;
  border-radius: 3.125rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
}

/* Обычная кнопка с заливкой */
.Button {
  composes: Base;
  color: var(--light-primary);
  background-color: var(--theme-ash-gray-dark, #3a4646);
  border: 3px solid var(--theme-ash-gray-dark, #3a4646);
}
.Button:hover {
  background: var(--theme-ash-gray-dark-50);
  border-color: transparent;
}
.Button:active {
  background: var(--theme-ash-gray-dark-80);
  border-color: transparent;
}
.Button[disabled] {
  opacity: 0.25;
}

/* Цветовые схемы для Button */
.Button[theme="sage"] {
  color: var(--theme-sage-dark-80, rgba(78, 94, 27, 0.8));
  background: var(--theme-sage-primary, #b2be83);
  border-color: var(--theme-sage-primary, #b2be83);
}
.Button[theme="sage"]:hover {
  background: var(--theme-sage-dark-80, rgba(78, 94, 27, 0.8));
  border-color: transparent;
  color: var(--theme-sage-primary, #b2be83);
}
.Button[theme="sage"]:active {
  color: var(--theme-sage-primary, #b2be83);
  background: var(--theme-sage-dark, #596b1f);
  border-color: var(--theme-sage-dark, #596b1f);
}

.Button[theme="cadet-blue"] {
  color: var(--theme-cadet-blue-dark-80, rgba(73, 62, 101, 0.8));
  background: var(--theme-cadet-blue-primary, #b0a6c4);
  border-color: var(--theme-cadet-blue-primary, #b0a6c4);
}
.Button[theme="cadet-blue"]:hover {
  background: var(--theme-cadet-blue-dark-80, rgba(73, 62, 101, 0.8));
  border-color: transparent;
  color: var(--theme-cadet-blue-primary, #b0a6c4);
}
.Button[theme="cadet-blue"]:active {
  color: var(--theme-cadet-blue-primary, #b0a6c4);
  background: var(--theme-cadet-blue-dark, #493e65);
  border-color: var(--theme-cadet-blue-dark, #493e65);
}

.Button[theme="pastel-blue"] {
  color: var(--theme-pastel-blue-dark-80, rgba(17, 105, 100, 0.8));
  background: var(--theme-pastel-blue-primary, #9dcbc9);
  border-color: var(--theme-pastel-blue-primary, #9dcbc9);
}
.Button[theme="pastel-blue"]:hover {
  background: var(--theme-pastel-blue-dark-80, rgba(17, 105, 100, 0.8));
  border-color: transparent;
  color: var(--theme-pastel-blue-primary, #9dcbc9);
}
.Button[theme="pastel-blue"]:active {
  color: var(--theme-pastel-blue-primary, #9dcbc9);
  background: var(--theme-pastel-blue-dark, #116964);
  border-color: var(--theme-pastel-blue-dark, #116964);
}

.Button[theme="pewter-blue"] {
  color: var(--theme-pewter-blue-dark-80, rgba(55, 80, 109, 0.8));
  background: var(--theme-pewter-blue-primary, #8ca4c1);
  border-color: var(--theme-pewter-blue-primary, #8ca4c1);
}
.Button[theme="pewter-blue"]:hover {
  background: var(--theme-pewter-blue-dark-80, rgba(55, 80, 109, 0.8));
  border-color: transparent;
  color: var(--theme-pewter-blue-primary, #8ca4c1);
}
.Button[theme="pewter-blue"]:active {
  color: var(--theme-pewter-blue-primary, #8ca4c1);
  background: var(--theme-pewter-blue-dark, #37506d);
  border-color: var(--theme-pewter-blue-dark, #37506d);
}

.Button[theme="baby-blue"] {
  color: var(--theme-baby-blue-dark-80, rgba(55, 80, 109, 0.8));
  background: var(--theme-baby-blue-primary, #8bcaf2);
  border-color: var(--theme-baby-blue-primary, #8bcaf2);
}
.Button[theme="baby-blue"]:hover {
  background: var(--theme-baby-blue-dark-80, rgba(55, 80, 109, 0.8));
  border-color: transparent;
  color: var(--theme-baby-blue-primary, #8bcaf2);
}
.Button[theme="baby-blue"]:active {
  color: var(--theme-baby-blue-primary, #8bcaf2);
  background: var(--theme-baby-blue-dark, #37506d);
  border-color: var(--theme-baby-blue-dark, #37506d);
}

.Button[theme="fawn"] {
  color: var(--theme-fawn-dark-80, rgba(102, 70, 28, 0.8));
  background: var(--theme-fawn-primary, #d6ae7b);
  border-color: var(--theme-fawn-primary, #d6ae7b);
}
.Button[theme="fawn"]:hover {
  background: var(--theme-fawn-dark-80, rgba(102, 70, 28, 0.8));
  border-color: transparent;
  color: var(--theme-fawn-primary, #d6ae7b);
}
.Button[theme="fawn"]:active {
  color: var(--theme-fawn-primary, #d6ae7b);
  background: var(--theme-fawn-dark, #66461c);
  border-color: var(--theme-fawn-dark, #66461c);
}

.Button[theme="parrot-pink"] {
  color: var(--theme-parrot-pink-dark-80, rgba(92, 36, 41, 0.8));
  background: var(--theme-parrot-pink-primary, #cb9ca3);
  border-color: var(--theme-parrot-pink-primary, #cb9ca3);
}
.Button[theme="parrot-pink"]:hover {
  background: var(--theme-parrot-pink-dark-80, rgba(92, 36, 41, 0.8));
  border-color: transparent;
  color: var(--theme-parrot-pink-primary, #cb9ca3);
}
.Button[theme="parrot-pink"]:active {
  color: var(--theme-parrot-pink-primary, #cb9ca3);
  background: var(--theme-parrot-pink-dark, #5c2429);
  border-color: var(--theme-parrot-pink-dark, #5c2429);
}

.Button[theme="kobi"] {
  color: var(--theme-kobi-dark-80, rgba(156, 78, 120, 0.8));
  background: var(--theme-kobi-primary, #e6a1c8);
  border-color: var(--theme-kobi-primary, #e6a1c8);
}
.Button[theme="kobi"]:hover {
  background: var(--theme-kobi-dark-80, rgba(156, 78, 120, 0.8));
  border-color: transparent;
  color: var(--theme-kobi-primary, #e6a1c8);
}
.Button[theme="kobi"]:active {
  color: var(--theme-kobi-primary, #e6a1c8);
  background: var(--theme-kobi-dark, #9c4e78);
  border-color: var(--theme-kobi-dark, #9c4e78);
}

.Button[theme="sandy"] {
  color: var(--theme-sandy-dark-80, rgba(159, 76, 8, 0.8));
  background: var(--theme-sandy-primary, #e6a66b);
  border-color: var(--theme-sandy-primary, #e6a66b);
}
.Button[theme="sandy"]:hover {
  background: var(--theme-sandy-dark-80, rgba(159, 76, 8, 0.8));
  border-color: transparent;
  color: var(--theme-sandy-primary, #e6a66b);
}
.Button[theme="sandy"]:active {
  color: var(--theme-sandy-primary, #e6a66b);
  background: var(--theme-sandy-dark, #9f4c08);
  border-color: var(--theme-sandy-dark, #9f4c08);
}

.BigButton {
  composes: Button;
  padding: 0.9375rem 2.8125rem;
  font-size: 1.25rem;
}

/* "Пустая" кнопка с рамкой */
.Outline {
  composes: Base;
  border: 3px solid var(--theme-ash-gray-dark, #3a4646);
  background-color: transparent;
  color: var(--theme-ash-gray-dark, #3a4646);
}
.Outline:hover {
  border-color: var(--theme-ash-gray-dark-50, rgba(58, 70, 70, 0.5));
  color: var(--theme-ash-gray-dark-50, rgba(58, 70, 70, 0.5));
}
.Outline:active {
  border-color: var(--theme-ash-gray-dark-80, rgba(58, 70, 70, 0.8));
  color: var(--theme-ash-gray-dark-80, rgba(58, 70, 70, 0.8));
}

/* Цветовые схемы для Outline */
.Outline[theme="sage"] {
  background-color: transparent;
  color: var(--theme-sage-primary, #b2be83);
  border-color: var(--theme-sage-primary, #b2be83);
}
.Outline[theme="sage"]:hover {
  background-color: transparent;
  color: var(--theme-sage-dark-80, rgba(89, 107, 31, 0.8));
  border-color: var(--theme-sage-dark-80, rgba(89, 107, 31, 0.8));
}
.Outline[theme="sage"]:active {
  background-color: transparent;
  color: var(--theme-sage-dark-50, rgba(89, 107, 31, 0.5));
  border-color: var(--theme-sage-dark-50, rgba(89, 107, 31, 0.5));
}

.Outline[theme="cadet-blue"] {
  background-color: transparent;
  color: var(--theme-cadet-blue-primary, #b0a6c4);
  border-color: var(--theme-cadet-blue-primary, #b0a6c4);
}
.Outline[theme="cadet-blue"]:hover {
  background-color: transparent;
  color: var(--theme-cadet-blue-dark-80, rgba(73, 62, 101, 0.8));
  border-color: var(--theme-cadet-blue-dark-80, rgba(73, 62, 101, 0.8));
}
.Outline[theme="cadet-blue"]:active {
  background-color: transparent;
  color: var(--theme-cadet-blue-dark-50, rgba(73, 62, 101, 0.5));
  border-color: var(--theme-cadet-blue-dark-50, rgba(73, 62, 101, 0.5));
}

.Outline[theme="pastel-blue"] {
  background-color: transparent;
  color: var(--theme-pastel-blue-primary, #9dcbc9);
  border-color: var(--theme-pastel-blue-primary, #9dcbc9);
}
.Outline[theme="pastel-blue"]:hover {
  background-color: transparent;
  color: var(--theme-pastel-blue-dark-80, rgba(17, 105, 100, 0.8));
  border-color: var(--theme-pastel-blue-dark-80, rgba(17, 105, 100, 0.8));
}
.Outline[theme="pastel-blue"]:active {
  background-color: transparent;
  color: var(--theme-pastel-blue-dark-50, rgba(17, 105, 100, 0.5));
  border-color: var(--theme-pastel-blue-dark-50, rgba(17, 105, 100, 0.5));
}

.Outline[theme="pewter-blue"] {
  background-color: transparent;
  color: var(--theme-pewter-blue-primary, #8ca4c1);
  border-color: var(--theme-pewter-blue-primary, #8ca4c1);
}
.Outline[theme="pewter-blue"]:hover {
  background-color: transparent;
  color: var(--theme-pewter-blue-dark-80, rgba(55, 80, 109, 0.8));
  border-color: var(--theme-pewter-blue-dark-80, rgba(55, 80, 109, 0.8));
}
.Outline[theme="pewter-blue"]:active {
  background-color: transparent;
  color: var(--theme-pewter-blue-dark-50, rgba(55, 80, 109, 0.5));
  border-color: var(--theme-pewter-blue-dark-50, rgba(55, 80, 109, 0.5));
}

.Outline[theme="baby-blue"] {
  background-color: transparent;
  color: var(--theme-baby-blue-primary, #8bcaf2);
  border-color: var(--theme-baby-blue-primary, #8bcaf2);
}
.Outline[theme="baby-blue"]:hover {
  background-color: transparent;
  color: var(--theme-baby-blue-dark-80, rgba(55, 80, 109, 0.8));
  border-color: var(--theme-baby-blue-dark-80, rgba(55, 80, 109, 0.8));
}
.Outline[theme="baby-blue"]:active {
  background-color: transparent;
  color: var(--theme-baby-blue-dark-50, rgba(55, 80, 109, 0.5));
  border-color: var(--theme-baby-blue-dark-50, rgba(55, 80, 109, 0.5));
}

.Outline[theme="fawn"] {
  background-color: transparent;
  color: var(--theme-fawn-primary, #d6ae7b);
  border-color: var(--theme-fawn-primary, #d6ae7b);
}
.Outline[theme="fawn"]:hover {
  background-color: transparent;
  color: var(--theme-fawn-dark-80, rgba(102, 70, 28, 0.8));
  border-color: var(--theme-fawn-dark-80, rgba(102, 70, 28, 0.8));
}
.Outline[theme="fawn"]:active {
  background-color: transparent;
  color: var(--theme-fawn-dark-50, rgba(102, 70, 28, 0.5));
  border-color: var(--theme-fawn-dark-50, rgba(102, 70, 28, 0.5));
}

.Outline[theme="parrot-pink"] {
  background-color: transparent;
  color: var(--theme-parrot-pink-primary, #cb9ca3);
  border-color: var(--theme-parrot-pink-primary, #cb9ca3);
}
.Outline[theme="parrot-pink"]:hover {
  background-color: transparent;
  color: var(--theme-parrot-pink-dark-80, rgba(92, 36, 41, 0.8));
  border-color: var(--theme-parrot-pink-dark-80, rgba(92, 36, 41, 0.8));
}
.Outline[theme="parrot-pink"]:active {
  background-color: transparent;
  color: var(--theme-parrot-pink-dark-50, rgba(92, 36, 41, 0.5));
  border-color: var(--theme-parrot-pink-dark-50, rgba(92, 36, 41, 0.5));
}

.Outline[theme="kobi"] {
  background-color: transparent;
  color: var(--theme-kobi-primary, #e6a1c8);
  border-color: var(--theme-kobi-primary, #e6a1c8);
}
.Outline[theme="kobi"]:hover {
  background-color: transparent;
  color: var(--theme-kobi-dark-80, rgba(156, 78, 120, 0.8));
  border-color: var(--theme-kobi-dark-80, rgba(156, 78, 120, 0.8));
}
.Outline[theme="kobi"]:active {
  background-color: transparent;
  color: var(--theme-kobi-dark-50, rgba(156, 78, 120, 0.5));
  border-color: var(--theme-kobi-dark-50, rgba(156, 78, 120, 0.5));
}

.Outline[theme="sandy"] {
  background-color: transparent;
  color: var(--theme-sandy-primary, #e6a66b);
  border-color: var(--theme-sandy-primary, #e6a66b);
}
.Outline[theme="sandy"]:hover {
  background-color: transparent;
  color: var(--theme-sandy-dark-80, rgba(159, 76, 8, 0.8));
  border-color: var(--theme-sandy-dark-80, rgba(159, 76, 8, 0.8));
}
.Outline[theme="sandy"]:active {
  background-color: transparent;
  color: var(--theme-sandy-dark-50, rgba(159, 76, 8, 0.5));
  border-color: var(--theme-sandy-dark-50, rgba(159, 76, 8, 0.5));
}

.BigOutline {
  composes: Outline;
  padding: 0.9375rem 2.8125rem;
  font-size: 1.25rem;
}
