.primary {
  background-color: var(--theme-ash-gray-light);
  border-color: var(--theme-transparent-light);
  border-width: 0.188rem;
  border-radius: 3.125rem;
  border-style: solid;
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.15;
  color: var(--theme-ash-gray-dark-80);
  transition: all 0.2s ease-in-out;
}

.primary:hover {
  background-color: var(--theme-ash-gray-light-50);
  border-color: var(--theme-transparent-light);
  color: var(--theme-ash-gray-dark-85);
}

.primary:active {
  background-color: var(--theme-ash-gray-dark-85);
  border-color: var(--theme-transparent-dark);
  color: var(--theme-ash-gray-light);
}

.primary:disabled {
  background-color: var(--theme-ash-gray-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-ash-gray-dark-80);
  filter: blur(0.125rem);
}

.primary[theme="sage"] {
  background-color: var(--theme-sage-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-sage-dark-80);
}

.primary[theme="sage"]:hover {
  background-color: var(--theme-sage-light-50);
  border-color: var(--theme-transparent-light);
  color: var(--theme-sage-dark-85);
}

.primary[theme="sage"]:active {
  background-color: var(--theme-sage-dark-85);
  border-color: var(--theme-transparent-dark);
  color: var(--theme-sage-light);
}

.primary[theme="sage"]:disabled {
  background-color: var(--theme-sage-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-sage-dark-80);
  filter: blur(0.125rem);
}

.primary[theme="cadet-blue"] {
  background-color: var(--theme-cadet-blue-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-cadet-blue-dark-80);
}

.primary[theme="cadet-blue"]:hover {
  background-color: var(--theme-cadet-blue-light-50);
  border-color: var(--theme-transparent-light);
  color: var(--theme-cadet-blue-dark-85);
}

.primary[theme="cadet-blue"]:active {
  background-color: var(--theme-cadet-blue-dark-85);
  border-color: var(--theme-transparent-dark);
  color: var(--theme-cadet-blue-light);
}

.primary[theme="cadet-blue"]:disabled {
  background-color: var(--theme-cadet-blue-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-cadet-blue-dark-80);
  filter: blur(0.125rem);
}

.primary[theme="kobi"] {
  background-color: var(--theme-kobi-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-kobi-dark-80);
}

.primary[theme="kobi"]:hover {
  background-color: var(--theme-kobi-light-50);
  border-color: var(--theme-transparent-light);
  color: var(--theme-kobi-dark-85);
}

.primary[theme="kobi"]:active {
  background-color: var(--theme-kobi-dark-85);
  border-color: var(--theme-transparent-dark);
  color: var(--theme-kobi-light);
}

.primary[theme="kobi"]:disabled {
  background-color: var(--theme-kobi-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-kobi-dark-80);
  filter: blur(0.125rem);
}

.primary[mod="big"] {
  padding: 0.75rem 1.5rem;
  font-weight: 700;
  font-size: 1.125rem;
}

.secondary {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-ash-gray-light);
  border-width: 0.188rem;
  border-radius: 3.125rem;
  border-style: solid;
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.15;
  color: var(--theme-ash-gray-dark-50);
  transition: all 0.2s ease-in-out;
}

.secondary:disabled {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-ash-gray-light);
  color: var(--theme-ash-gray-dark-50);
  filter: blur(0.125rem);
}

.secondary:hover {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-ash-gray-light-50);
  color: var(--theme-ash-gray-dark-85);
}

.secondary:active {
  border-color: var(--theme-ash-gray-dark-85);
  color: var(--theme-ash-gray-dark-50);
}

.secondary[theme="sage"] {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-sage-light);
  color: var(--theme-sage-dark-50);
}

.secondary[theme="sage"]:disabled {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-sage-light);
  color: var(--theme-sage-dark-50);
  filter: blur(0.125rem);
}

.secondary[theme="sage"]:hover {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-sage-light-50);
  color: var(--theme-sage-dark-85);
}

.secondary[theme="sage"]:active {
  border-color: var(--theme-sage-dark-85);
  color: var(--theme-sage-dark-50);
}

.secondary[theme="cadet-blue"] {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-cadet-blue-light);
  color: var(--theme-cadet-blue-dark-50);
}

.secondary[theme="cadet-blue"]:disabled {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-cadet-blue-light);
  color: var(--theme-cadet-blue-dark-50);
  filter: blur(0.125rem);
}

.secondary[theme="cadet-blue"]:hover {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-cadet-blue-light-50);
  color: var(--theme-cadet-blue-dark-85);
}

.secondary[theme="cadet-blue"]:active {
  background-color: var(--theme-transparent-dark);
  border-color: var(--theme-cadet-blue-dark-85);
  color: var(--theme-cadet-blue-dark-50);
}

.secondary[theme="kobi"] {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-kobi-light);
  color: var(--theme-kobi-dark-50);
}

.secondary[theme="kobi"]:disabled {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-kobi-light);
  color: var(--theme-kobi-dark-50);
  filter: blur(0.125rem);
}

.secondary[theme="kobi"]:hover {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-kobi-light-50);
  color: var(--theme-kobi-dark-85);
}

.secondary[theme="kobi"]:active {
  background-color: var(--theme-transparent-dark);
  border-color: var(--theme-kobi-dark-85);
  color: var(--theme-kobi-dark-50);
}

.secondary[mod="big"] {
  padding: 0.75rem 1.5rem;
  font-weight: 700;
  font-size: 1.125rem;
}

.add {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-transparent-light);
  border-width: 0.188rem;
  border-radius: 3.125rem;
  border-style: solid;
  padding: 0.5rem 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.15;
  color: var(--theme-ash-gray-dark-50);
  transition: all 0.2s ease-in-out;
}

.add:hover {
  background-color: var(--theme-ash-gray-dark-50);
  border-color: var(--theme-transparent-light);
  color: var(--theme-white-light);
}

.add:active {
  background-color: var(--theme-ash-gray-dark-80);
  border-color: var(--theme-transparent-dark);
  color: var(--theme-white-light);
}

.add[theme="sage"] {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-sage-dark-50);
}

.add[theme="sage"]:hover {
  background-color: var(--theme-sage-dark-50);
  border-color: var(--theme-transparent-light);
  color: var(--theme-white-light);
}

.add[theme="sage"]:active {
  background-color: var(--theme-sage-dark-80);
  border-color: var(--theme-transparent-dark);
  color: var(--theme-white-light);
}

.add[theme="cadet-blue"] {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-cadet-blue-dark-50);
}

.add[theme="cadet-blue"]:hover {
  background-color: var(--theme-cadet-blue-dark-50);
  border-color: var(--theme-transparent-light);
  color: var(--theme-white-light);
}

.add[theme="cadet-blue"]:active {
  background-color: var(--theme-cadet-blue-dark-80);
  border-color: var(--theme-transparent-dark);
  color: var(--theme-white-light);
}

.add[theme="kobi"] {
  background-color: var(--theme-transparent-light);
  border-color: var(--theme-transparent-light);
  color: var(--theme-kobi-dark-50);
}

.add[theme="kobi"]:hover {
  background-color: var(--theme-kobi-dark-50);
  border-color: var(--theme-transparent-light);
  color: var(--theme-white-light);
}

.add[theme="kobi"]:active {
  background-color: var(--theme-kobi-dark-80);
  border-color: var(--theme-transparent-dark);
  color: var(--theme-white-light);
}

